/** {
    outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*margin-right: 10px;*/
}

.image {
    max-width: 460px;

}

.top {
    height: 15%;
    display: flex;
}

.label {
    width: 10%;

}

#im {
    max-width: 100%;
    max-height: 100%;
}

.name {
    width: 90%;
    display: flex;
}

.l {
    width: 50%;
}

.content {
    width: 50%;
    background-size: 100% 100%;
}

#myname {
    font-family: Sans-serif;
    font-weight: normal;
    color: grey;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 2px;

}

#mytitle {
    font-family: Sans-serif;
    font-weight: normal;
    color: grey;
    margin-top: 0;
    margin-left: 50px;
}

.middle {
    height: 48%;
    overflow: hidden;
    margin-left: 50px;
}

#cat {
    max-width: 100%;
}

.bottom {
    margin-top: 0;
    height: 42%;
}

.bottomtitle {
    height: 10%;
}

#featurework {
    font-family: Sans-serif;
    font-weight: normal;
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

.bottomcontent {
    margin-top: 0;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
@media (max-width: 768px) {
    .firstcol {
        width: 100%;
    }

    .secondcol {
        width: 100%;
    }

    .thirdcol {
        width: 100%;
    }

}


/*.pic {
    height: 65%;
}*/

.photo {
    max-width: 100%;
    max-height: 100%;
}

.piccaption {
    height: 35%;
}

.capcontent {
    margin-left: 48px;
    font-family: Sans-serif;
    font-weight: lighter;
    color: grey;
    margin-bottom: 0;
}

.url {
    font-size: small;
}

.square1 {
    width: 50px;
    height: 50px;
    background: #02b3e4;
    margin-left: 29%;
    margin-top: 50px;
}

.square2 {
    width: 50px;
    height: 50px;
    background: #2d3c49;
    margin-left: 29%;
    margin-top: 20px;
}

.square3 {
    width: 50px;
    height: 50px;
    background: #7d97ad;
    margin-left: 29%;
    margin-top: 20px;
}

.description {
    max-width: 705px;
}

.app {
    display: flex;
}

.all {
    display: flex;
}

.right {
    width: 80%;
}

.left {
    width: 17%;
}

